* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: linear-gradient(#114357, #F29492); */
	background: linear-gradient(#010101, #535B69, #8592A6, #010101);
}
canvas {
	background-color: lavender;
	border-radius: 5px;
}

.game_over{
 	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.888);
	background: linear-gradient(rgba(0, 0, 0, 0.873), 90% , rgba(255, 0, 0, 0.742));
	display: flex;
	align-items: center;
	backdrop-filter: blur(10px);
	justify-content: center;
	z-index: 1;
}

.container{
	padding: 25px;
	background: rgba(255, 255, 255, 0.41);
	border-radius: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container h2{
	font-size: 3rem;
	color: rgb(57, 0, 0);
}
.container button{
	font-size: 1.5rem;
	width: 100%;
	outline: none;
	border: none;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bolder;
	background-color: rgb(194, 250, 194);
	color: rgb(87, 128, 87);
	border-radius: 5px;
}

.hide{
	opacity: 0;
}

/* .side{} */

.game {
	display: grid;
	grid-template-columns: .7fr 1.2fr .5fr;
	position: relative;
}
.score{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 3rem;
	color: white;
}
.best_score {
	font-size: 1rem;
	color: rgb(221, 187, 112);
	margin: 5px 0;
}
.your_score {
	font-weight: bold;
	font-size: 1rem;
	color: rgb(13, 49, 54)
}
.settings {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color: yellow;
	position: relative;
	z-index: 10;
	margin-left: 10px;
}
.settings > * {
	width: 100%;
}