* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(#114357, #F29492);
}
canvas {
	background-color: lavender;
	border-radius: 5px;
}